.App {
  min-height: 100vh;
  color: white;
}

.home {
  min-height: 75vh;
}

.bgImg {
  height: 500px;
  width: 800px;
}

.d-img {
  width: 80%;
  margin: 20px auto auto;
  height: 700px;
}

.d-img img {
  height: 400px;
  width: 100%;
}